.container {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-box{
    padding: 5px;
    width: 500px;
    height: 400px;
    margin-top: 10px;
    text-align: center;
    transition: width 0.7s ease-out;
}

.card.mdl-card {
    width: 500px;
    height: 400px;
}

.card > .mdl-card__title {
    min-height: 110px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url('../img/hacker-news.png');
    background-size: 110px auto;
    background-color: #46B6AC;
}

.card > .mdl-card__title > h2 {
    margin-right: 100px;
}
